body, html {
    margin:0; padding:0;
    width:100%; height:100%;
    overflow:hidden;
    font-family: Arial, sans-serif;
}

.menu {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:absolute;
    top:0; left:0;
    width:100%; height:100%;
    background-color: #ff99cc;
    z-index:10;
}

#gameCanvas {
    display:block;
}

button {
    padding:15px 30px;
    font-size:18px;
    margin-top:20px;
    cursor:pointer;
}

#ringsContainer div {
    position:absolute;
    animation: float 4s infinite alternate;
}

@keyframes float {
    0% { transform: translateY(0px);}
    100% { transform: translateY(-50px);}
}
